@charset "UTF-8";
/*** PLAYER SKIN ***/
/* ==========================================================================
   PLAYER SKIN : BUBBLES
   ========================================================================== */
/*!
 *  Font Awesome 4.6.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.6.3");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.6.3") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.6.3") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.6.3") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-fw {
  width: 1.28571em;
  text-align: center; }

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center; }
  .fa-li.fa-lg {
    left: -1.85714em; }

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em; }

.fa-pull-left {
  float: left; }

.fa-pull-right {
  float: right; }

.fa.fa-pull-left {
  margin-right: .3em; }

.fa.fa-pull-right {
  margin-left: .3em; }

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right; }

.pull-left {
  float: left; }

.fa.pull-left {
  margin-right: .3em; }

.fa.pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none; }

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #fff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: ""; }

.fa-music:before {
  content: ""; }

.fa-search:before {
  content: ""; }

.fa-envelope-o:before {
  content: ""; }

.fa-heart:before {
  content: ""; }

.fa-star:before {
  content: ""; }

.fa-star-o:before {
  content: ""; }

.fa-user:before {
  content: ""; }

.fa-film:before {
  content: ""; }

.fa-th-large:before {
  content: ""; }

.fa-th:before {
  content: ""; }

.fa-th-list:before {
  content: ""; }

.fa-check:before {
  content: ""; }

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: ""; }

.fa-search-plus:before {
  content: ""; }

.fa-search-minus:before {
  content: ""; }

.fa-power-off:before {
  content: ""; }

.fa-signal:before {
  content: ""; }

.fa-gear:before,
.fa-cog:before {
  content: ""; }

.fa-trash-o:before {
  content: ""; }

.fa-home:before {
  content: ""; }

.fa-file-o:before {
  content: ""; }

.fa-clock-o:before {
  content: ""; }

.fa-road:before {
  content: ""; }

.fa-download:before {
  content: ""; }

.fa-arrow-circle-o-down:before {
  content: ""; }

.fa-arrow-circle-o-up:before {
  content: ""; }

.fa-inbox:before {
  content: ""; }

.fa-play-circle-o:before {
  content: ""; }

.fa-rotate-right:before,
.fa-repeat:before {
  content: ""; }

.fa-refresh:before {
  content: ""; }

.fa-list-alt:before {
  content: ""; }

.fa-lock:before {
  content: ""; }

.fa-flag:before {
  content: ""; }

.fa-headphones:before {
  content: ""; }

.fa-volume-off:before {
  content: ""; }

.fa-volume-down:before {
  content: ""; }

.fa-volume-up:before {
  content: ""; }

.fa-qrcode:before {
  content: ""; }

.fa-barcode:before {
  content: ""; }

.fa-tag:before {
  content: ""; }

.fa-tags:before {
  content: ""; }

.fa-book:before {
  content: ""; }

.fa-bookmark:before {
  content: ""; }

.fa-print:before {
  content: ""; }

.fa-camera:before {
  content: ""; }

.fa-font:before {
  content: ""; }

.fa-bold:before {
  content: ""; }

.fa-italic:before {
  content: ""; }

.fa-text-height:before {
  content: ""; }

.fa-text-width:before {
  content: ""; }

.fa-align-left:before {
  content: ""; }

.fa-align-center:before {
  content: ""; }

.fa-align-right:before {
  content: ""; }

.fa-align-justify:before {
  content: ""; }

.fa-list:before {
  content: ""; }

.fa-dedent:before,
.fa-outdent:before {
  content: ""; }

.fa-indent:before {
  content: ""; }

.fa-video-camera:before {
  content: ""; }

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: ""; }

.fa-pencil:before {
  content: ""; }

.fa-map-marker:before {
  content: ""; }

.fa-adjust:before {
  content: ""; }

.fa-tint:before {
  content: ""; }

.fa-edit:before,
.fa-pencil-square-o:before {
  content: ""; }

.fa-share-square-o:before {
  content: ""; }

.fa-check-square-o:before {
  content: ""; }

.fa-arrows:before {
  content: ""; }

.fa-step-backward:before {
  content: ""; }

.fa-fast-backward:before {
  content: ""; }

.fa-backward:before {
  content: ""; }

.fa-play:before {
  content: ""; }

.fa-pause:before {
  content: ""; }

.fa-stop:before {
  content: ""; }

.fa-forward:before {
  content: ""; }

.fa-fast-forward:before {
  content: ""; }

.fa-step-forward:before {
  content: ""; }

.fa-eject:before {
  content: ""; }

.fa-chevron-left:before {
  content: ""; }

.fa-chevron-right:before {
  content: ""; }

.fa-plus-circle:before {
  content: ""; }

.fa-minus-circle:before {
  content: ""; }

.fa-times-circle:before {
  content: ""; }

.fa-check-circle:before {
  content: ""; }

.fa-question-circle:before {
  content: ""; }

.fa-info-circle:before {
  content: ""; }

.fa-crosshairs:before {
  content: ""; }

.fa-times-circle-o:before {
  content: ""; }

.fa-check-circle-o:before {
  content: ""; }

.fa-ban:before {
  content: ""; }

.fa-arrow-left:before {
  content: ""; }

.fa-arrow-right:before {
  content: ""; }

.fa-arrow-up:before {
  content: ""; }

.fa-arrow-down:before {
  content: ""; }

.fa-mail-forward:before,
.fa-share:before {
  content: ""; }

.fa-expand:before {
  content: ""; }

.fa-compress:before {
  content: ""; }

.fa-plus:before {
  content: ""; }

.fa-minus:before {
  content: ""; }

.fa-asterisk:before {
  content: ""; }

.fa-exclamation-circle:before {
  content: ""; }

.fa-gift:before {
  content: ""; }

.fa-leaf:before {
  content: ""; }

.fa-fire:before {
  content: ""; }

.fa-eye:before {
  content: ""; }

.fa-eye-slash:before {
  content: ""; }

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: ""; }

.fa-plane:before {
  content: ""; }

.fa-calendar:before {
  content: ""; }

.fa-random:before {
  content: ""; }

.fa-comment:before {
  content: ""; }

.fa-magnet:before {
  content: ""; }

.fa-chevron-up:before {
  content: ""; }

.fa-chevron-down:before {
  content: ""; }

.fa-retweet:before {
  content: ""; }

.fa-shopping-cart:before {
  content: ""; }

.fa-folder:before {
  content: ""; }

.fa-folder-open:before {
  content: ""; }

.fa-arrows-v:before {
  content: ""; }

.fa-arrows-h:before {
  content: ""; }

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: ""; }

.fa-twitter-square:before {
  content: ""; }

.fa-facebook-square:before {
  content: ""; }

.fa-camera-retro:before {
  content: ""; }

.fa-key:before {
  content: ""; }

.fa-gears:before,
.fa-cogs:before {
  content: ""; }

.fa-comments:before {
  content: ""; }

.fa-thumbs-o-up:before {
  content: ""; }

.fa-thumbs-o-down:before {
  content: ""; }

.fa-star-half:before {
  content: ""; }

.fa-heart-o:before {
  content: ""; }

.fa-sign-out:before {
  content: ""; }

.fa-linkedin-square:before {
  content: ""; }

.fa-thumb-tack:before {
  content: ""; }

.fa-external-link:before {
  content: ""; }

.fa-sign-in:before {
  content: ""; }

.fa-trophy:before {
  content: ""; }

.fa-github-square:before {
  content: ""; }

.fa-upload:before {
  content: ""; }

.fa-lemon-o:before {
  content: ""; }

.fa-phone:before {
  content: ""; }

.fa-square-o:before {
  content: ""; }

.fa-bookmark-o:before {
  content: ""; }

.fa-phone-square:before {
  content: ""; }

.fa-twitter:before {
  content: ""; }

.fa-facebook-f:before,
.fa-facebook:before {
  content: ""; }

.fa-github:before {
  content: ""; }

.fa-unlock:before {
  content: ""; }

.fa-credit-card:before {
  content: ""; }

.fa-feed:before,
.fa-rss:before {
  content: ""; }

.fa-hdd-o:before {
  content: ""; }

.fa-bullhorn:before {
  content: ""; }

.fa-bell:before {
  content: ""; }

.fa-certificate:before {
  content: ""; }

.fa-hand-o-right:before {
  content: ""; }

.fa-hand-o-left:before {
  content: ""; }

.fa-hand-o-up:before {
  content: ""; }

.fa-hand-o-down:before {
  content: ""; }

.fa-arrow-circle-left:before {
  content: ""; }

.fa-arrow-circle-right:before {
  content: ""; }

.fa-arrow-circle-up:before {
  content: ""; }

.fa-arrow-circle-down:before {
  content: ""; }

.fa-globe:before {
  content: ""; }

.fa-wrench:before {
  content: ""; }

.fa-tasks:before {
  content: ""; }

.fa-filter:before {
  content: ""; }

.fa-briefcase:before {
  content: ""; }

.fa-arrows-alt:before {
  content: ""; }

.fa-group:before,
.fa-users:before {
  content: ""; }

.fa-chain:before,
.fa-link:before {
  content: ""; }

.fa-cloud:before {
  content: ""; }

.fa-flask:before {
  content: ""; }

.fa-cut:before,
.fa-scissors:before {
  content: ""; }

.fa-copy:before,
.fa-files-o:before {
  content: ""; }

.fa-paperclip:before {
  content: ""; }

.fa-save:before,
.fa-floppy-o:before {
  content: ""; }

.fa-square:before {
  content: ""; }

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: ""; }

.fa-list-ul:before {
  content: ""; }

.fa-list-ol:before {
  content: ""; }

.fa-strikethrough:before {
  content: ""; }

.fa-underline:before {
  content: ""; }

.fa-table:before {
  content: ""; }

.fa-magic:before {
  content: ""; }

.fa-truck:before {
  content: ""; }

.fa-pinterest:before {
  content: ""; }

.fa-pinterest-square:before {
  content: ""; }

.fa-google-plus-square:before {
  content: ""; }

.fa-google-plus:before {
  content: ""; }

.fa-money:before {
  content: ""; }

.fa-caret-down:before {
  content: ""; }

.fa-caret-up:before {
  content: ""; }

.fa-caret-left:before {
  content: ""; }

.fa-caret-right:before {
  content: ""; }

.fa-columns:before {
  content: ""; }

.fa-unsorted:before,
.fa-sort:before {
  content: ""; }

.fa-sort-down:before,
.fa-sort-desc:before {
  content: ""; }

.fa-sort-up:before,
.fa-sort-asc:before {
  content: ""; }

.fa-envelope:before {
  content: ""; }

.fa-linkedin:before {
  content: ""; }

.fa-rotate-left:before,
.fa-undo:before {
  content: ""; }

.fa-legal:before,
.fa-gavel:before {
  content: ""; }

.fa-dashboard:before,
.fa-tachometer:before {
  content: ""; }

.fa-comment-o:before {
  content: ""; }

.fa-comments-o:before {
  content: ""; }

.fa-flash:before,
.fa-bolt:before {
  content: ""; }

.fa-sitemap:before {
  content: ""; }

.fa-umbrella:before {
  content: ""; }

.fa-paste:before,
.fa-clipboard:before {
  content: ""; }

.fa-lightbulb-o:before {
  content: ""; }

.fa-exchange:before {
  content: ""; }

.fa-cloud-download:before {
  content: ""; }

.fa-cloud-upload:before {
  content: ""; }

.fa-user-md:before {
  content: ""; }

.fa-stethoscope:before {
  content: ""; }

.fa-suitcase:before {
  content: ""; }

.fa-bell-o:before {
  content: ""; }

.fa-coffee:before {
  content: ""; }

.fa-cutlery:before {
  content: ""; }

.fa-file-text-o:before {
  content: ""; }

.fa-building-o:before {
  content: ""; }

.fa-hospital-o:before {
  content: ""; }

.fa-ambulance:before {
  content: ""; }

.fa-medkit:before {
  content: ""; }

.fa-fighter-jet:before {
  content: ""; }

.fa-beer:before {
  content: ""; }

.fa-h-square:before {
  content: ""; }

.fa-plus-square:before {
  content: ""; }

.fa-angle-double-left:before {
  content: ""; }

.fa-angle-double-right:before {
  content: ""; }

.fa-angle-double-up:before {
  content: ""; }

.fa-angle-double-down:before {
  content: ""; }

.fa-angle-left:before {
  content: ""; }

.fa-angle-right:before {
  content: ""; }

.fa-angle-up:before {
  content: ""; }

.fa-angle-down:before {
  content: ""; }

.fa-desktop:before {
  content: ""; }

.fa-laptop:before {
  content: ""; }

.fa-tablet:before {
  content: ""; }

.fa-mobile-phone:before,
.fa-mobile:before {
  content: ""; }

.fa-circle-o:before {
  content: ""; }

.fa-quote-left:before {
  content: ""; }

.fa-quote-right:before {
  content: ""; }

.fa-spinner:before {
  content: ""; }

.fa-circle:before {
  content: ""; }

.fa-mail-reply:before,
.fa-reply:before {
  content: ""; }

.fa-github-alt:before {
  content: ""; }

.fa-folder-o:before {
  content: ""; }

.fa-folder-open-o:before {
  content: ""; }

.fa-smile-o:before {
  content: ""; }

.fa-frown-o:before {
  content: ""; }

.fa-meh-o:before {
  content: ""; }

.fa-gamepad:before {
  content: ""; }

.fa-keyboard-o:before {
  content: ""; }

.fa-flag-o:before {
  content: ""; }

.fa-flag-checkered:before {
  content: ""; }

.fa-terminal:before {
  content: ""; }

.fa-code:before {
  content: ""; }

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: ""; }

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: ""; }

.fa-location-arrow:before {
  content: ""; }

.fa-crop:before {
  content: ""; }

.fa-code-fork:before {
  content: ""; }

.fa-unlink:before,
.fa-chain-broken:before {
  content: ""; }

.fa-question:before {
  content: ""; }

.fa-info:before {
  content: ""; }

.fa-exclamation:before {
  content: ""; }

.fa-superscript:before {
  content: ""; }

.fa-subscript:before {
  content: ""; }

.fa-eraser:before {
  content: ""; }

.fa-puzzle-piece:before {
  content: ""; }

.fa-microphone:before {
  content: ""; }

.fa-microphone-slash:before {
  content: ""; }

.fa-shield:before {
  content: ""; }

.fa-calendar-o:before {
  content: ""; }

.fa-fire-extinguisher:before {
  content: ""; }

.fa-rocket:before {
  content: ""; }

.fa-maxcdn:before {
  content: ""; }

.fa-chevron-circle-left:before {
  content: ""; }

.fa-chevron-circle-right:before {
  content: ""; }

.fa-chevron-circle-up:before {
  content: ""; }

.fa-chevron-circle-down:before {
  content: ""; }

.fa-html5:before {
  content: ""; }

.fa-css3:before {
  content: ""; }

.fa-anchor:before {
  content: ""; }

.fa-unlock-alt:before {
  content: ""; }

.fa-bullseye:before {
  content: ""; }

.fa-ellipsis-h:before {
  content: ""; }

.fa-ellipsis-v:before {
  content: ""; }

.fa-rss-square:before {
  content: ""; }

.fa-play-circle:before {
  content: ""; }

.fa-ticket:before {
  content: ""; }

.fa-minus-square:before {
  content: ""; }

.fa-minus-square-o:before {
  content: ""; }

.fa-level-up:before {
  content: ""; }

.fa-level-down:before {
  content: ""; }

.fa-check-square:before {
  content: ""; }

.fa-pencil-square:before {
  content: ""; }

.fa-external-link-square:before {
  content: ""; }

.fa-share-square:before {
  content: ""; }

.fa-compass:before {
  content: ""; }

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: ""; }

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: ""; }

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: ""; }

.fa-euro:before,
.fa-eur:before {
  content: ""; }

.fa-gbp:before {
  content: ""; }

.fa-dollar:before,
.fa-usd:before {
  content: ""; }

.fa-rupee:before,
.fa-inr:before {
  content: ""; }

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: ""; }

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: ""; }

.fa-won:before,
.fa-krw:before {
  content: ""; }

.fa-bitcoin:before,
.fa-btc:before {
  content: ""; }

.fa-file:before {
  content: ""; }

.fa-file-text:before {
  content: ""; }

.fa-sort-alpha-asc:before {
  content: ""; }

.fa-sort-alpha-desc:before {
  content: ""; }

.fa-sort-amount-asc:before {
  content: ""; }

.fa-sort-amount-desc:before {
  content: ""; }

.fa-sort-numeric-asc:before {
  content: ""; }

.fa-sort-numeric-desc:before {
  content: ""; }

.fa-thumbs-up:before {
  content: ""; }

.fa-thumbs-down:before {
  content: ""; }

.fa-youtube-square:before {
  content: ""; }

.fa-youtube:before {
  content: ""; }

.fa-xing:before {
  content: ""; }

.fa-xing-square:before {
  content: ""; }

.fa-youtube-play:before {
  content: ""; }

.fa-dropbox:before {
  content: ""; }

.fa-stack-overflow:before {
  content: ""; }

.fa-instagram:before {
  content: ""; }

.fa-flickr:before {
  content: ""; }

.fa-adn:before {
  content: ""; }

.fa-bitbucket:before {
  content: ""; }

.fa-bitbucket-square:before {
  content: ""; }

.fa-tumblr:before {
  content: ""; }

.fa-tumblr-square:before {
  content: ""; }

.fa-long-arrow-down:before {
  content: ""; }

.fa-long-arrow-up:before {
  content: ""; }

.fa-long-arrow-left:before {
  content: ""; }

.fa-long-arrow-right:before {
  content: ""; }

.fa-apple:before {
  content: ""; }

.fa-windows:before {
  content: ""; }

.fa-android:before {
  content: ""; }

.fa-linux:before {
  content: ""; }

.fa-dribbble:before {
  content: ""; }

.fa-skype:before {
  content: ""; }

.fa-foursquare:before {
  content: ""; }

.fa-trello:before {
  content: ""; }

.fa-female:before {
  content: ""; }

.fa-male:before {
  content: ""; }

.fa-gittip:before,
.fa-gratipay:before {
  content: ""; }

.fa-sun-o:before {
  content: ""; }

.fa-moon-o:before {
  content: ""; }

.fa-archive:before {
  content: ""; }

.fa-bug:before {
  content: ""; }

.fa-vk:before {
  content: ""; }

.fa-weibo:before {
  content: ""; }

.fa-renren:before {
  content: ""; }

.fa-pagelines:before {
  content: ""; }

.fa-stack-exchange:before {
  content: ""; }

.fa-arrow-circle-o-right:before {
  content: ""; }

.fa-arrow-circle-o-left:before {
  content: ""; }

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: ""; }

.fa-dot-circle-o:before {
  content: ""; }

.fa-wheelchair:before {
  content: ""; }

.fa-vimeo-square:before {
  content: ""; }

.fa-turkish-lira:before,
.fa-try:before {
  content: ""; }

.fa-plus-square-o:before {
  content: ""; }

.fa-space-shuttle:before {
  content: ""; }

.fa-slack:before {
  content: ""; }

.fa-envelope-square:before {
  content: ""; }

.fa-wordpress:before {
  content: ""; }

.fa-openid:before {
  content: ""; }

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: ""; }

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: ""; }

.fa-yahoo:before {
  content: ""; }

.fa-google:before {
  content: ""; }

.fa-reddit:before {
  content: ""; }

.fa-reddit-square:before {
  content: ""; }

.fa-stumbleupon-circle:before {
  content: ""; }

.fa-stumbleupon:before {
  content: ""; }

.fa-delicious:before {
  content: ""; }

.fa-digg:before {
  content: ""; }

.fa-pied-piper-pp:before {
  content: ""; }

.fa-pied-piper-alt:before {
  content: ""; }

.fa-drupal:before {
  content: ""; }

.fa-joomla:before {
  content: ""; }

.fa-language:before {
  content: ""; }

.fa-fax:before {
  content: ""; }

.fa-building:before {
  content: ""; }

.fa-child:before {
  content: ""; }

.fa-paw:before {
  content: ""; }

.fa-spoon:before {
  content: ""; }

.fa-cube:before {
  content: ""; }

.fa-cubes:before {
  content: ""; }

.fa-behance:before {
  content: ""; }

.fa-behance-square:before {
  content: ""; }

.fa-steam:before {
  content: ""; }

.fa-steam-square:before {
  content: ""; }

.fa-recycle:before {
  content: ""; }

.fa-automobile:before,
.fa-car:before {
  content: ""; }

.fa-cab:before,
.fa-taxi:before {
  content: ""; }

.fa-tree:before {
  content: ""; }

.fa-spotify:before {
  content: ""; }

.fa-deviantart:before {
  content: ""; }

.fa-soundcloud:before {
  content: ""; }

.fa-database:before {
  content: ""; }

.fa-file-pdf-o:before {
  content: ""; }

.fa-file-word-o:before {
  content: ""; }

.fa-file-excel-o:before {
  content: ""; }

.fa-file-powerpoint-o:before {
  content: ""; }

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: ""; }

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: ""; }

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: ""; }

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: ""; }

.fa-file-code-o:before {
  content: ""; }

.fa-vine:before {
  content: ""; }

.fa-codepen:before {
  content: ""; }

.fa-jsfiddle:before {
  content: ""; }

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: ""; }

.fa-circle-o-notch:before {
  content: ""; }

.fa-ra:before,
.fa-resistance:before,
.fa-rebel:before {
  content: ""; }

.fa-ge:before,
.fa-empire:before {
  content: ""; }

.fa-git-square:before {
  content: ""; }

.fa-git:before {
  content: ""; }

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: ""; }

.fa-tencent-weibo:before {
  content: ""; }

.fa-qq:before {
  content: ""; }

.fa-wechat:before,
.fa-weixin:before {
  content: ""; }

.fa-send:before,
.fa-paper-plane:before {
  content: ""; }

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: ""; }

.fa-history:before {
  content: ""; }

.fa-circle-thin:before {
  content: ""; }

.fa-header:before {
  content: ""; }

.fa-paragraph:before {
  content: ""; }

.fa-sliders:before {
  content: ""; }

.fa-share-alt:before {
  content: ""; }

.fa-share-alt-square:before {
  content: ""; }

.fa-bomb:before {
  content: ""; }

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: ""; }

.fa-tty:before {
  content: ""; }

.fa-binoculars:before {
  content: ""; }

.fa-plug:before {
  content: ""; }

.fa-slideshare:before {
  content: ""; }

.fa-twitch:before {
  content: ""; }

.fa-yelp:before {
  content: ""; }

.fa-newspaper-o:before {
  content: ""; }

.fa-wifi:before {
  content: ""; }

.fa-calculator:before {
  content: ""; }

.fa-paypal:before {
  content: ""; }

.fa-google-wallet:before {
  content: ""; }

.fa-cc-visa:before {
  content: ""; }

.fa-cc-mastercard:before {
  content: ""; }

.fa-cc-discover:before {
  content: ""; }

.fa-cc-amex:before {
  content: ""; }

.fa-cc-paypal:before {
  content: ""; }

.fa-cc-stripe:before {
  content: ""; }

.fa-bell-slash:before {
  content: ""; }

.fa-bell-slash-o:before {
  content: ""; }

.fa-trash:before {
  content: ""; }

.fa-copyright:before {
  content: ""; }

.fa-at:before {
  content: ""; }

.fa-eyedropper:before {
  content: ""; }

.fa-paint-brush:before {
  content: ""; }

.fa-birthday-cake:before {
  content: ""; }

.fa-area-chart:before {
  content: ""; }

.fa-pie-chart:before {
  content: ""; }

.fa-line-chart:before {
  content: ""; }

.fa-lastfm:before {
  content: ""; }

.fa-lastfm-square:before {
  content: ""; }

.fa-toggle-off:before {
  content: ""; }

.fa-toggle-on:before {
  content: ""; }

.fa-bicycle:before {
  content: ""; }

.fa-bus:before {
  content: ""; }

.fa-ioxhost:before {
  content: ""; }

.fa-angellist:before {
  content: ""; }

.fa-cc:before {
  content: ""; }

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: ""; }

.fa-meanpath:before {
  content: ""; }

.fa-buysellads:before {
  content: ""; }

.fa-connectdevelop:before {
  content: ""; }

.fa-dashcube:before {
  content: ""; }

.fa-forumbee:before {
  content: ""; }

.fa-leanpub:before {
  content: ""; }

.fa-sellsy:before {
  content: ""; }

.fa-shirtsinbulk:before {
  content: ""; }

.fa-simplybuilt:before {
  content: ""; }

.fa-skyatlas:before {
  content: ""; }

.fa-cart-plus:before {
  content: ""; }

.fa-cart-arrow-down:before {
  content: ""; }

.fa-diamond:before {
  content: ""; }

.fa-ship:before {
  content: ""; }

.fa-user-secret:before {
  content: ""; }

.fa-motorcycle:before {
  content: ""; }

.fa-street-view:before {
  content: ""; }

.fa-heartbeat:before {
  content: ""; }

.fa-venus:before {
  content: ""; }

.fa-mars:before {
  content: ""; }

.fa-mercury:before {
  content: ""; }

.fa-intersex:before,
.fa-transgender:before {
  content: ""; }

.fa-transgender-alt:before {
  content: ""; }

.fa-venus-double:before {
  content: ""; }

.fa-mars-double:before {
  content: ""; }

.fa-venus-mars:before {
  content: ""; }

.fa-mars-stroke:before {
  content: ""; }

.fa-mars-stroke-v:before {
  content: ""; }

.fa-mars-stroke-h:before {
  content: ""; }

.fa-neuter:before {
  content: ""; }

.fa-genderless:before {
  content: ""; }

.fa-facebook-official:before {
  content: ""; }

.fa-pinterest-p:before {
  content: ""; }

.fa-whatsapp:before {
  content: ""; }

.fa-server:before {
  content: ""; }

.fa-user-plus:before {
  content: ""; }

.fa-user-times:before {
  content: ""; }

.fa-hotel:before,
.fa-bed:before {
  content: ""; }

.fa-viacoin:before {
  content: ""; }

.fa-train:before {
  content: ""; }

.fa-subway:before {
  content: ""; }

.fa-medium:before {
  content: ""; }

.fa-yc:before,
.fa-y-combinator:before {
  content: ""; }

.fa-optin-monster:before {
  content: ""; }

.fa-opencart:before {
  content: ""; }

.fa-expeditedssl:before {
  content: ""; }

.fa-battery-4:before,
.fa-battery-full:before {
  content: ""; }

.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: ""; }

.fa-battery-2:before,
.fa-battery-half:before {
  content: ""; }

.fa-battery-1:before,
.fa-battery-quarter:before {
  content: ""; }

.fa-battery-0:before,
.fa-battery-empty:before {
  content: ""; }

.fa-mouse-pointer:before {
  content: ""; }

.fa-i-cursor:before {
  content: ""; }

.fa-object-group:before {
  content: ""; }

.fa-object-ungroup:before {
  content: ""; }

.fa-sticky-note:before {
  content: ""; }

.fa-sticky-note-o:before {
  content: ""; }

.fa-cc-jcb:before {
  content: ""; }

.fa-cc-diners-club:before {
  content: ""; }

.fa-clone:before {
  content: ""; }

.fa-balance-scale:before {
  content: ""; }

.fa-hourglass-o:before {
  content: ""; }

.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: ""; }

.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: ""; }

.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: ""; }

.fa-hourglass:before {
  content: ""; }

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: ""; }

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: ""; }

.fa-hand-scissors-o:before {
  content: ""; }

.fa-hand-lizard-o:before {
  content: ""; }

.fa-hand-spock-o:before {
  content: ""; }

.fa-hand-pointer-o:before {
  content: ""; }

.fa-hand-peace-o:before {
  content: ""; }

.fa-trademark:before {
  content: ""; }

.fa-registered:before {
  content: ""; }

.fa-creative-commons:before {
  content: ""; }

.fa-gg:before {
  content: ""; }

.fa-gg-circle:before {
  content: ""; }

.fa-tripadvisor:before {
  content: ""; }

.fa-odnoklassniki:before {
  content: ""; }

.fa-odnoklassniki-square:before {
  content: ""; }

.fa-get-pocket:before {
  content: ""; }

.fa-wikipedia-w:before {
  content: ""; }

.fa-safari:before {
  content: ""; }

.fa-chrome:before {
  content: ""; }

.fa-firefox:before {
  content: ""; }

.fa-opera:before {
  content: ""; }

.fa-internet-explorer:before {
  content: ""; }

.fa-tv:before,
.fa-television:before {
  content: ""; }

.fa-contao:before {
  content: ""; }

.fa-500px:before {
  content: ""; }

.fa-amazon:before {
  content: ""; }

.fa-calendar-plus-o:before {
  content: ""; }

.fa-calendar-minus-o:before {
  content: ""; }

.fa-calendar-times-o:before {
  content: ""; }

.fa-calendar-check-o:before {
  content: ""; }

.fa-industry:before {
  content: ""; }

.fa-map-pin:before {
  content: ""; }

.fa-map-signs:before {
  content: ""; }

.fa-map-o:before {
  content: ""; }

.fa-map:before {
  content: ""; }

.fa-commenting:before {
  content: ""; }

.fa-commenting-o:before {
  content: ""; }

.fa-houzz:before {
  content: ""; }

.fa-vimeo:before {
  content: ""; }

.fa-black-tie:before {
  content: ""; }

.fa-fonticons:before {
  content: ""; }

.fa-reddit-alien:before {
  content: ""; }

.fa-edge:before {
  content: ""; }

.fa-credit-card-alt:before {
  content: ""; }

.fa-codiepie:before {
  content: ""; }

.fa-modx:before {
  content: ""; }

.fa-fort-awesome:before {
  content: ""; }

.fa-usb:before {
  content: ""; }

.fa-product-hunt:before {
  content: ""; }

.fa-mixcloud:before {
  content: ""; }

.fa-scribd:before {
  content: ""; }

.fa-pause-circle:before {
  content: ""; }

.fa-pause-circle-o:before {
  content: ""; }

.fa-stop-circle:before {
  content: ""; }

.fa-stop-circle-o:before {
  content: ""; }

.fa-shopping-bag:before {
  content: ""; }

.fa-shopping-basket:before {
  content: ""; }

.fa-hashtag:before {
  content: ""; }

.fa-bluetooth:before {
  content: ""; }

.fa-bluetooth-b:before {
  content: ""; }

.fa-percent:before {
  content: ""; }

.fa-gitlab:before {
  content: ""; }

.fa-wpbeginner:before {
  content: ""; }

.fa-wpforms:before {
  content: ""; }

.fa-envira:before {
  content: ""; }

.fa-universal-access:before {
  content: ""; }

.fa-wheelchair-alt:before {
  content: ""; }

.fa-question-circle-o:before {
  content: ""; }

.fa-blind:before {
  content: ""; }

.fa-audio-description:before {
  content: ""; }

.fa-volume-control-phone:before {
  content: ""; }

.fa-braille:before {
  content: ""; }

.fa-assistive-listening-systems:before {
  content: ""; }

.fa-asl-interpreting:before,
.fa-american-sign-language-interpreting:before {
  content: ""; }

.fa-deafness:before,
.fa-hard-of-hearing:before,
.fa-deaf:before {
  content: ""; }

.fa-glide:before {
  content: ""; }

.fa-glide-g:before {
  content: ""; }

.fa-signing:before,
.fa-sign-language:before {
  content: ""; }

.fa-low-vision:before {
  content: ""; }

.fa-viadeo:before {
  content: ""; }

.fa-viadeo-square:before {
  content: ""; }

.fa-snapchat:before {
  content: ""; }

.fa-snapchat-ghost:before {
  content: ""; }

.fa-snapchat-square:before {
  content: ""; }

.fa-pied-piper:before {
  content: ""; }

.fa-first-order:before {
  content: ""; }

.fa-yoast:before {
  content: ""; }

.fa-themeisle:before {
  content: ""; }

.fa-google-plus-circle:before,
.fa-google-plus-official:before {
  content: ""; }

.fa-fa:before,
.fa-font-awesome:before {
  content: ""; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

.reveal {
  font-family: 'Nunito', sans-serif;
  font-weight: lighter; }

.reveal .slide-background {
  background-position: top right;
  background-size: contain;
  background-color: #ffffff; }

.reveal.center .slides,
.reveal.center .slides section {
  min-height: 100% !important;
  min-width: 100% !important; }

.reveal.center .slides section {
  padding: 0; }

.reveal .slide-menu-button {
  height: 30px;
  top: 35px !important; }
  .reveal .slide-menu-button i.fa-bars {
    font-size: 2rem; }
    .reveal .slide-menu-button i.fa-bars:before {
      color: #ffffff !important; }

.reveal li#close {
  z-index: 9999;
  cursor: pointer; }
  .reveal li#close i.fa {
    color: #fff; }

.reveal nav.slide-menu {
  background: #31969e;
  /* Old browsers */
  background: -moz-linear-gradient(-90deg, #4396a0 0%, #327f8a 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-90deg, #4396a0 0%, #327f8a 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #4396a0 0%, #327f8a 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-size: 100%;
  width: 250px;
  position: absolute;
  opacity: 0.9; }

.reveal .slide-menu-overlay.active {
  display: none; }

.reveal ul.underSection {
  text-align: center;
  margin: 10px 0px 15px; }

.reveal ul.underSection > li {
  display: inline-block;
  margin: 0px 5px; }

.reveal a {
  color: #2B4754; }

.reveal .slide-menu-button {
  left: 10px;
  top: 10px;
  bottom: 60px !important; }

.reveal ol.slide-menu-toolbar {
  display: none !important; }

.reveal li#close {
  color: #fff;
  list-style-type: none;
  font-size: 30px;
  font-weight: lighter;
  position: absolute;
  top: 10px;
  left: 10px; }

.reveal .slide-menu-items {
  margin-top: 100px !important; }

.reveal .slide-menu-items,
.reveal .slide-menu-item {
  border: none !important;
  padding-left: 0 !important;
  margin-bottom: 0 !important; }

.reveal .active-menu-panel li {
  background-color: transparent;
  height: 65px;
  width: 100%;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3) !important;
  border-top: 1px solid rgba(255, 255, 255, 0.3) !important;
  padding: 20px 30px !important;
  color: #ffffff !important;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "Futura BT W01 Medium"; }

.reveal .active-menu-panel li.selected {
  background-color: rgba(0, 74, 86, 0.6) !important;
  color: #ffffff !important; }

.reveal .slide-menu-item, .reveal .slide-menu-item-vertical {
  padding: 7px 17px 7px 12px !important; }

/* CONTROLS */
.reveal .controls {
  background: rgba(255, 255, 255, 0.7);
  /* Old browsers */
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.5) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.5) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.5) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(#ffffff, .85)', endColorstr='rgba(#ffffff, .5)',GradientType=1 );
  /* IE6-9 */
  width: 330px;
  height: 45px;
  bottom: 120px;
  right: inherit;
  margin-left: calc(50vw) !important;
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=0, M21=0, M22=1, SizingMethod='auto expand')"; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-down {
  display: none; }

.reveal .controls .navigate-left,
.reveal .controls .navigate-right {
  width: 45px;
  height: 45px;
  background-color: #ffffff;
  border-radius: 7px;
  top: 0;
  border: none;
  z-index: 10;
  opacity: 1; }
  .reveal .controls .navigate-left i.fa,
  .reveal .controls .navigate-right i.fa {
    color: #8fb4ba; }

.reveal .controls .navigate-left {
  left: -30px;
  box-shadow: 2px 0px 20px rgba(143, 180, 186, 0.5); }

.reveal .controls .navigate-right {
  left: 315px;
  box-shadow: -2px 0px 20px rgba(143, 180, 186, 0.5); }

.reveal .controls .toggle-sound {
  right: 30px;
  border: none; }

.reveal .controls .enabled {
  opacity: 1; }

/* PROGRESS */
.reveal .progress {
  bottom: 128px;
  width: 250px;
  height: 20px;
  background-color: transparent;
  margin-left: 50%;
  transform: translateX(calc(-50% - 5px));
  z-index: 20; }

.reveal .progress span {
  box-sizing: border-box;
  background: none; }

.reveal a.slideButton {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: transparent;
  background: #8fb4ba;
  position: absolute;
  z-index: 9; }
  .reveal a.slideButton.active {
    background: #515151; }

.reveal span.slideButtonActive {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  z-index: 10;
  left: 0;
  background: #00acc6; }

.reveal span#mobileProgress {
  position: absolute;
  top: 12px;
  left: 120px; }

.reveal span#mobileProgress > span {
  color: #56ede3; }

/*AUDIO*/
.reveal .audio-controls {
  visibility: hidden !important; }

/*** VENDORS ***/
@font-face {
  font-family: "Futura BT W01 Medium";
  src: url("../fonts/1119900/7ed1bebb-81a9-4c57-9513-f0538c1b83fc.eot?#iefix");
  src: url("../fonts/1119900/7ed1bebb-81a9-4c57-9513-f0538c1b83fc.eot?#iefix") format("eot"), url("../fonts/1119900/9fb69c26-4303-492d-8121-d3af0a6112fc.woff2") format("woff2"), url("../fonts/1119900/ddc0f223-a296-451a-8681-ad80508eb419.woff") format("woff"), url("../fonts/1119900/c18fc865-7a4e-45d9-bbb0-4e4553cc4136.ttf") format("truetype"); }

@font-face {
  font-family: "FuturaBTW01-CdXBlack";
  src: url("../fonts/1119915/eef4f73a-6e42-459c-959b-483f49a458d9.eot?#iefix");
  src: url("../fonts/1119915/eef4f73a-6e42-459c-959b-483f49a458d9.eot?#iefix") format("eot"), url("../fonts/1119915/211a072b-b981-4519-8cb5-6b6e6c7ac911.woff2") format("woff2"), url("../fonts/1119915/54b55254-95c5-4bd1-9241-f15925484dff.woff") format("woff"), url("../fonts/1119915/5eedaf18-948f-4919-aa13-129e300d4c01.ttf") format("truetype"); }

@font-face {
  font-family: "FuturaBTW01-BoldCondens";
  src: url("../fonts/1119921/cb144bff-f067-4682-88a0-ee9439663505.eot?#iefix");
  src: url("../fonts/1119921/cb144bff-f067-4682-88a0-ee9439663505.eot?#iefix") format("eot"), url("../fonts/1119921/205093a1-c484-4b70-8041-12359f4da06d.woff2") format("woff2"), url("../fonts/1119921/f220a492-5dfc-4156-ac87-e8eda2daee7f.woff") format("woff"), url("../fonts/1119921/ccc51004-de59-4d92-9595-2c67bf8df2e1.ttf") format("truetype"); }

@font-face {
  font-family: "Futura BT W01 Book";
  src: url("../fonts/1119939/17fe4ab4-6e45-4ea2-bb53-2123063911c3.eot?#iefix");
  src: url("../fonts/1119939/17fe4ab4-6e45-4ea2-bb53-2123063911c3.eot?#iefix") format("eot"), url("../fonts/1119939/46ce09db-0ca6-4e0c-acea-3ee8c8867f10.woff2") format("woff2"), url("../fonts/1119939/142b09e6-c245-4ff7-b01c-325fa824c99e.woff") format("woff"), url("../fonts/1119939/e4509cd4-7aa0-4068-89bd-95ffd0bfb6d4.ttf") format("truetype"); }

@font-face {
  font-family: "FuturaBTW01-BookItalic";
  src: url("../fonts/1119942/2e6cfa9e-fbb1-41ae-865f-1a1b7e472cdc.eot?#iefix");
  src: url("../fonts/1119942/2e6cfa9e-fbb1-41ae-865f-1a1b7e472cdc.eot?#iefix") format("eot"), url("../fonts/1119942/f940347c-b756-4b0c-b9b7-980420355ae3.woff2") format("woff2"), url("../fonts/1119942/34962837-192c-48f0-bd43-5bf8f325f09f.woff") format("woff"), url("../fonts/1119942/4fdf6f8e-9073-43e6-a953-6bb368860c9e.ttf") format("truetype"); }

@font-face {
  font-family: "Futura BT W01 Bold";
  src: url("../fonts/1119948/63107fe9-e6e4-4922-aed4-736f170601c8.eot?#iefix");
  src: url("../fonts/1119948/63107fe9-e6e4-4922-aed4-736f170601c8.eot?#iefix") format("eot"), url("../fonts/1119948/70cd4257-15ef-421c-b474-8c9bed8e66b0.woff2") format("woff2"), url("../fonts/1119948/970a093d-098a-4d5b-b6f0-c2d682e95d80.woff") format("woff"), url("../fonts/1119948/7c099bd1-482c-4c64-a5d3-9b934633ab10.ttf") format("truetype"); }

.reveal {
  text-align: left;
  color: #103258; }
  .reveal .normal {
    font-family: "Futura BT W01 Book", Arial, sans-serif; }
  .reveal .medium {
    font-family: "Futura BT W01 Medium", Arial, sans-serif; }
  .reveal .bold {
    font-family: "Futura BT W01 Bold", Arial, sans-serif; }
  .reveal .boldcond {
    font-family: "FuturaBTW01-BoldCondens", Arial, sans-serif; }
  .reveal .xblackcond {
    font-family: "FuturaBTW01-CdXBlack", Arial, sans-serif; }
  .reveal .italic {
    font-family: "FuturaBTW01-BookItalic", Arial, sans-serif; }

/** BASICS **/
/** HEXYON BLUES **/
/** HEXYON GREENS **/
a, button {
  text-decoration: underline; }
  a.blueBtn, button.blueBtn {
    font-size: 0.875rem;
    text-decoration: none;
    width: 140px;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    padding: 7px 15px;
    color: #fff;
    border: 1px solid #999999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7fdbef+0,7fdbef+50,4aceec+51,0dbeea+100 */
    background: #7fdbef;
    /* Old browsers */
    background: -moz-linear-gradient(top, #7fdbef 0%, #7fdbef 50%, #4aceec 51%, #0dbeea 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #7fdbef 0%, #7fdbef 50%, #4aceec 51%, #0dbeea 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #7fdbef 0%, #7fdbef 50%, #4aceec 51%, #0dbeea 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fdbef', endColorstr='#0dbeea',GradientType=0 );
    /* IE6-9 */ }
  a.footerBtn, a.greyBtn, button.footerBtn, button.greyBtn {
    text-decoration: none;
    display: inline-block; }
  a.footerBtn, button.footerBtn {
    font-family: Verdana, Arial, sans-serif;
    background-color: #6d6f71;
    border: none;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    padding: 15px;
    font-size: .6875rem;
    color: #fff;
    line-height: .8rem;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3); }
  a.greyBtn, button.greyBtn {
    background: url("img/greybtn-icon.jpg") #ededed no-repeat;
    background-position: 100px center;
    border: 1px solid #97c74c;
    padding: 15px 75px 15px 15px;
    color: #aecc57;
    font-family: "FuturaBTW01-BoldCondens", Arial, sans-serif;
    font-size: .9rem;
    text-align: right;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3); }

/* ==========================================================================
   UTILITIES
   ========================================================================== */
body, .reveal {
  /** MARGINS **/
  /** MARGINS **/
  /** PADDINGS **/
  /** MARGINS **/
  /** PADDINGS **/
  /** MARGINS **/
  /** PADDINGS **/
  /** MARGINS **/
  /** PADDINGS **/
  /** MARGINS **/
  /** PADDINGS **/
  /** MARGINS **/
  /** PADDINGS **/
  /** MARGINS **/
  /** PADDINGS **/
  /** MARGINS **/
  /** PADDINGS **/
  /** MARGINS **/
  /** PADDINGS **/ }
  body .mt0, .reveal .mt0 {
    margin-top: 0px !important; }
  body .mb0, .reveal .mb0 {
    margin-bottom: 0px !important; }
  body .ml0, .reveal .ml0 {
    margin-left: 0px !important; }
  body .mr0, .reveal .mr0 {
    margin-right: 0px !important; }
  body .pt0, .reveal .pt0 {
    padding-top: 0px !important; }
  body .pb0, .reveal .pb0 {
    padding-bottom: 0px !important; }
  body .pl0, .reveal .pl0 {
    padding-left: 0px !important; }
  body .pr0, .reveal .pr0 {
    padding-right: 0px !important; }
  body .mt10, .reveal .mt10 {
    margin-top: 10px !important; }
  body .mb10, .reveal .mb10 {
    margin-bottom: 10px !important; }
  body .ml10, .reveal .ml10 {
    margin-left: 10px !important; }
  body .mr10, .reveal .mr10 {
    margin-right: 10px !important; }
  body .pt10, .reveal .pt10 {
    padding-top: 10px !important; }
  body .pb10, .reveal .pb10 {
    padding-bottom: 10px !important; }
  body .pl10, .reveal .pl10 {
    padding-left: 10px !important; }
  body .pr10, .reveal .pr10 {
    padding-right: 10px !important; }
  body .mt20, .reveal .mt20 {
    margin-top: 20px !important; }
  body .mb20, .reveal .mb20 {
    margin-bottom: 20px !important; }
  body .ml20, .reveal .ml20 {
    margin-left: 20px !important; }
  body .mr20, .reveal .mr20 {
    margin-right: 20px !important; }
  body .pt20, .reveal .pt20 {
    padding-top: 20px !important; }
  body .pb20, .reveal .pb20 {
    padding-bottom: 20px !important; }
  body .pl20, .reveal .pl20 {
    padding-left: 20px !important; }
  body .pr20, .reveal .pr20 {
    padding-right: 20px !important; }
  body .mt30, .reveal .mt30 {
    margin-top: 30px !important; }
  body .mb30, .reveal .mb30 {
    margin-bottom: 30px !important; }
  body .ml30, .reveal .ml30 {
    margin-left: 30px !important; }
  body .mr30, .reveal .mr30 {
    margin-right: 30px !important; }
  body .pt30, .reveal .pt30 {
    padding-top: 30px !important; }
  body .pb30, .reveal .pb30 {
    padding-bottom: 30px !important; }
  body .pl30, .reveal .pl30 {
    padding-left: 30px !important; }
  body .pr30, .reveal .pr30 {
    padding-right: 30px !important; }
  body .mt40, .reveal .mt40 {
    margin-top: 40px !important; }
  body .mb40, .reveal .mb40 {
    margin-bottom: 40px !important; }
  body .ml40, .reveal .ml40 {
    margin-left: 40px !important; }
  body .mr40, .reveal .mr40 {
    margin-right: 40px !important; }
  body .pt40, .reveal .pt40 {
    padding-top: 40px !important; }
  body .pb40, .reveal .pb40 {
    padding-bottom: 40px !important; }
  body .pl40, .reveal .pl40 {
    padding-left: 40px !important; }
  body .pr40, .reveal .pr40 {
    padding-right: 40px !important; }
  body .mt50, .reveal .mt50 {
    margin-top: 50px !important; }
  body .mb50, .reveal .mb50 {
    margin-bottom: 50px !important; }
  body .ml50, .reveal .ml50 {
    margin-left: 50px !important; }
  body .mr50, .reveal .mr50 {
    margin-right: 50px !important; }
  body .pt50, .reveal .pt50 {
    padding-top: 50px !important; }
  body .pb50, .reveal .pb50 {
    padding-bottom: 50px !important; }
  body .pl50, .reveal .pl50 {
    padding-left: 50px !important; }
  body .pr50, .reveal .pr50 {
    padding-right: 50px !important; }
  body .mt60, .reveal .mt60 {
    margin-top: 60px !important; }
  body .mb60, .reveal .mb60 {
    margin-bottom: 60px !important; }
  body .ml60, .reveal .ml60 {
    margin-left: 60px !important; }
  body .mr60, .reveal .mr60 {
    margin-right: 60px !important; }
  body .pt60, .reveal .pt60 {
    padding-top: 60px !important; }
  body .pb60, .reveal .pb60 {
    padding-bottom: 60px !important; }
  body .pl60, .reveal .pl60 {
    padding-left: 60px !important; }
  body .pr60, .reveal .pr60 {
    padding-right: 60px !important; }
  body .mt70, .reveal .mt70 {
    margin-top: 70px !important; }
  body .mb70, .reveal .mb70 {
    margin-bottom: 70px !important; }
  body .ml70, .reveal .ml70 {
    margin-left: 70px !important; }
  body .mr70, .reveal .mr70 {
    margin-right: 70px !important; }
  body .pt70, .reveal .pt70 {
    padding-top: 70px !important; }
  body .pb70, .reveal .pb70 {
    padding-bottom: 70px !important; }
  body .pl70, .reveal .pl70 {
    padding-left: 70px !important; }
  body .pr70, .reveal .pr70 {
    padding-right: 70px !important; }
  body .mt80, .reveal .mt80 {
    margin-top: 80px !important; }
  body .mb80, .reveal .mb80 {
    margin-bottom: 80px !important; }
  body .ml80, .reveal .ml80 {
    margin-left: 80px !important; }
  body .mr80, .reveal .mr80 {
    margin-right: 80px !important; }
  body .pt80, .reveal .pt80 {
    padding-top: 80px !important; }
  body .pb80, .reveal .pb80 {
    padding-bottom: 80px !important; }
  body .pl80, .reveal .pl80 {
    padding-left: 80px !important; }
  body .pr80, .reveal .pr80 {
    padding-right: 80px !important; }
  body .backgrounds, .reveal .backgrounds {
    background-color: #eef7fb; }
    body .backgrounds .present, .reveal .backgrounds .present {
      position: relative;
      margin: 0 auto;
      background-size: 100% auto; }
    body .backgrounds .slide-background, .reveal .backgrounds .slide-background {
      max-width: 1024px; }
  body .responsive, .reveal .responsive {
    width: 100%;
    height: auto; }
  body .absolute-content, .reveal .absolute-content {
    position: absolute;
    display: block; }
  body .valign-middle-content, .reveal .valign-middle-content {
    margin-top: 50vh !important;
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=0, M21=0, M22=1, SizingMethod='auto expand')"; }
  body .halign-middle-content, .reveal .halign-middle-content {
    margin-left: 50% !important;
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=0, M21=0, M22=1, SizingMethod='auto expand')"; }
  body .index-position-2, .reveal .index-position-2 {
    z-index: -2 !important; }
  body .index-position-3, .reveal .index-position-3 {
    z-index: -3 !important; }

/* ==========================================================================
   GENERAL STYLES
   ========================================================================== */
* {
  box-sizing: border-box; }

html {
  margin: 0px;
  padding: 0px;
  height: 100vh !important;
  /*#video{
        .video-js{
            position: relative !important;
        }
    }*/ }
  html body {
    margin: 0px;
    padding: 0px; }
  html body.mobile .playButton {
    display: block; }
  html body.mobile .toggle-sound {
    display: none; }
  html .playButton {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(16, 50, 88, 0.8);
    z-index: 999; }
    html .playButton .tableCell {
      display: table-cell;
      height: 98vh;
      width: 100vw;
      color: #ffffff;
      vertical-align: middle;
      text-align: center; }
      html .playButton .tableCell .circle-bg-frame {
        width: 160px;
        height: 160px;
        top: inherit;
        -moz-transform: inherit;
        -o-transform: inherit;
        -webkit-transform: inherit;
        -ms-transform: inherit;
        transform: inherit;
        display: inline-block;
        border-top-color: #37d3ce; }
        html .playButton .tableCell .circle-bg-frame .fa-play {
          font-size: 90px;
          line-height: 160px;
          padding-left: 25px;
          color: #ffffff; }
        html .playButton .tableCell .circle-bg-frame:hover, html .playButton .tableCell .circle-bg-frame:focus {
          -moz-transform: scale(1.1);
          -o-transform: scale(1.1);
          -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
          transform: scale(1.1);
          -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.1, M12=0, M21=0, M22=1.1, SizingMethod='auto expand')"; }
      html .playButton .tableCell .fa-spin {
        font-size: 50px;
        visibility: hidden;
        position: absolute;
        top: 0; }
    html .playButton.loading .fa-spin {
      visibility: visible;
      position: relative; }
  html .reveal, html body {
    font-family: "Futura BT W01 Book", Arial, sans-serif; }
    html .reveal .backgrounds .slide-background, html body .backgrounds .slide-background {
      background-color: #eef7fb; }
    html .reveal #mobileProgress, html body #mobileProgress {
      display: none; }
    html .reveal .slides, html body .slides {
      z-index: 0; }
    html .reveal .backgrounds, html body .backgrounds {
      z-index: -3; }
  html .scalableContainer {
    position: relative;
    width: 100%;
    height: 100vh; }
  html .contentSection {
    position: absolute;
    box-sizing: border-box;
    padding: 45px 80px !important;
    width: 1024px;
    height: 680px;
    left: 50%;
    top: 50%; }
    html .contentSection .mainContent {
      width: 100%;
      height: 100%; }
  html .header {
    height: 100px;
    width: 100%;
    position: relative;
    background: #aecc57;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #00a8c1 0%, #aecc57 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #00a8c1 0%, #aecc57 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #00a8c1 0%, #aecc57 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    position: absolute;
    opacity: 1;
    left: 0;
    box-sizing: border-box;
    display: table; }
    html .header h1 {
      display: table-cell;
      vertical-align: middle; }
  html .content {
    position: relative;
    top: 70px;
    height: 100%; }
    html .content .bubble {
      background: url("img/hexyon-bulle.png") transparent no-repeat;
      position: absolute;
      box-sizing: border-box;
      z-index: 10; }
      html .content .bubble p {
        color: #ffffff;
        font-size: 1.125rem;
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
        text-align: center; }
        html .content .bubble p strong {
          font-family: "Futura BT W01 Bold";
          font-size: 1.3rem; }
        html .content .bubble p i.fa {
          font-size: 2rem; }
          html .content .bubble p i.fa:last-child {
            margin-left: -9px; }
    html .content .whiteBubble {
      background-color: #ffffff;
      position: absolute;
      box-sizing: border-box;
      z-index: 10;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5); }
      html .content .whiteBubble p {
        color: #00a8c1;
        font-size: 1.6875rem;
        text-align: center; }
    html .content .whiteRadiusBox {
      background-color: #ffffff;
      box-sizing: border-box;
      z-index: 10;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5); }
    html .content .column {
      height: calc(100% - 200px);
      display: table; }
  html .scaleContent {
    width: 1024px !important;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 50%; }
  html .footer {
    width: 100%;
    height: 105px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    bottom: 0px !important;
    position: absolute;
    text-align: center; }
    html .footer div.col-left {
      width: 950px;
      border: 0 transparent solid;
      border-width: 0 0px 0 0;
      background-clip: padding-box;
      display: table-cell;
      vertical-align: middle; }
    html .footer div.col-right {
      width: calc($table-width - $col-width - $gutter);
      display: table-cell;
      vertical-align: middle; }
    html .footer .column, html .footer .columns {
      margin-bottom: 5px;
      position: relative;
      width: 100%;
      display: table;
      min-height: 65px; }
      html .footer .column div.col-left, html .footer .columns div.col-left {
        text-align: left; }
      html .footer .column div.col-right, html .footer .columns div.col-right {
        text-align: right; }
    html .footer p {
      font-size: .65rem;
      color: #6d6f71;
      text-align: center;
      position: relative; }
    html .footer .references {
      position: absolute;
      background-color: #00a8c1;
      padding: 10px;
      bottom: 60px; }
      html .footer .references::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 30px;
        border-top: 15px solid #00a8c1;
        border-top-color: #00a8c1;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        z-index: 40; }
      html .footer .references ul li {
        color: #ffffff;
        line-height: 0.8rem;
        font-size: .625rem;
        margin-bottom: 3px; }
  html .feather {
    display: none; }
  html .featherlight .featherlight-content {
    padding: 30px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    overflow: none !important; }
    html .featherlight .featherlight-content .scroll {
      max-height: 600px;
      overflow-y: scroll; }
    html .featherlight .featherlight-content h2 {
      font-family: "Futura BT W01 Bold";
      text-align: left;
      text-transform: uppercase;
      font-size: 1.5rem;
      margin-bottom: 25px; }
    html .featherlight .featherlight-content h3 {
      text-transform: uppercase; }
    html .featherlight .featherlight-content span.featherlight-close-icon {
      background: url("img/popin_close.png") no-repeat;
      background-position: center top;
      display: block;
      height: 52px;
      width: 52px; }
    html .featherlight .featherlight-content p, html .featherlight .featherlight-content li {
      font-size: 1.125rem; }
      html .featherlight .featherlight-content p.legend, html .featherlight .featherlight-content li.legend {
        font-size: 0.75rem; }
        html .featherlight .featherlight-content p.legend sup, html .featherlight .featherlight-content li.legend sup {
          font-size: .6rem;
          top: -4px; }
      html .featherlight .featherlight-content p sup, html .featherlight .featherlight-content li sup {
        font-size: .8rem;
        top: -6px; }
  html .BC-playlistOverlay {
    padding: 30px;
    background-color: white;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    overflow: none !important; }
    html .BC-playlistOverlay .scroll {
      max-height: 600px;
      overflow-y: scroll; }
    html .BC-playlistOverlay h2 {
      font-family: "Futura BT W01 Bold";
      text-align: left;
      text-transform: uppercase;
      font-size: 1.5rem;
      margin-bottom: 25px; }
    html .BC-playlistOverlay h3 {
      text-transform: uppercase; }
    html .BC-playlistOverlay span.popin-close-icon {
      background: url("img/popin_close.png") no-repeat;
      background-position: center top;
      position: absolute;
      top: -15px;
      right: -15px;
      display: block;
      height: 52px;
      width: 52px;
      cursor: pointer; }
    html .BC-playlistOverlay p, html .BC-playlistOverlay li {
      font-size: 1.125rem; }
      html .BC-playlistOverlay p.legend, html .BC-playlistOverlay li.legend {
        font-size: 0.75rem; }
        html .BC-playlistOverlay p.legend sup, html .BC-playlistOverlay li.legend sup {
          font-size: .6rem;
          top: -4px; }
      html .BC-playlistOverlay p sup, html .BC-playlistOverlay li sup {
        font-size: .8rem;
        top: -6px; }

/* ==========================================================================
   FONTS STYLES
   ========================================================================== */
body, .featherlight-content, .reveal {
  /* COLORS */
  /* POSITIONS */
  /* TITLES */
  /* LIST STYLES */ }
  body .white, .featherlight-content .white, .reveal .white {
    color: #ffffff !important; }
  body .blue, .featherlight-content .blue, .reveal .blue {
    color: #00a8c1 !important; }
  body .grey, .featherlight-content .grey, .reveal .grey {
    color: #6d6f71 !important; }
  body .dark-blue, .featherlight-content .dark-blue, .reveal .dark-blue {
    color: #103258 !important; }
  body .text-left, .featherlight-content .text-left, .reveal .text-left {
    text-align: left; }
  body .text-center, .featherlight-content .text-center, .reveal .text-center {
    text-align: center !important; }
  body .text-right, .featherlight-content .text-right, .reveal .text-right {
    text-align: right; }
  body .uppercase, .featherlight-content .uppercase, .reveal .uppercase {
    text-transform: uppercase; }
  body h1, .featherlight-content h1, .reveal h1 {
    font-family: "Futura BT W01 Bold", Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 2.06rem;
    line-height: 2.5rem;
    letter-spacing: 1px; }
    body h1 sup, .featherlight-content h1 sup, .reveal h1 sup {
      font-size: 1rem;
      top: -20px; }
  body h2, .featherlight-content h2, .reveal h2 {
    font-family: "Futura BT W01 Medium";
    color: #00a8c1;
    text-align: center;
    line-height: 1.9rem;
    font-size: 1.75rem;
    margin-bottom: 10px; }
    body h2 sup, .featherlight-content h2 sup, .reveal h2 sup {
      font-size: 1rem;
      top: -10px; }
  body h3, .featherlight-content h3, .reveal h3 {
    font-family: "Futura BT W01 Medium";
    color: #00a8c1;
    text-align: left;
    line-height: 1.4rem;
    font-size: 1.125rem;
    margin-bottom: 10px; }
  body h4, .featherlight-content h4, .reveal h4 {
    text-transform: capitalize;
    font-weight: lighter;
    font-size: 1.3rem;
    text-align: left;
    width: 100%;
    margin-bottom: 10px; }
  body h5, .featherlight-content h5, .reveal h5 {
    text-align: left;
    font-weight: 400;
    margin-bottom: 10px; }
  body h6, .featherlight-content h6, .reveal h6 {
    text-align: left;
    font-weight: 400;
    margin-bottom: 0px;
    font-size: .9rem;
    margin-top: 15px; }
  body p, .featherlight-content p, .reveal p {
    color: #103258;
    text-align: left;
    font-size: .9rem;
    line-height: 1.4em;
    margin-bottom: 5px;
    font-weight: 300; }
    body p.big, .featherlight-content p.big, .reveal p.big {
      font-size: 1.375rem; }
    body p.imageTitle, .featherlight-content p.imageTitle, .reveal p.imageTitle {
      font-family: "Futura BT W01 Medium";
      font-size: 0.875rem;
      text-align: center; }
    body p.legend, .featherlight-content p.legend, .reveal p.legend {
      font-size: 0.75rem; }
    body p sup, .featherlight-content p sup, .reveal p sup {
      font-size: .8rem;
      top: -10px; }
  body ul, .featherlight-content ul, .reveal ul {
    padding-left: 30px; }
    body ul li, .featherlight-content ul li, .reveal ul li {
      color: #103258;
      text-align: left;
      font-size: .9rem;
      line-height: 1.4em;
      margin-bottom: 5px;
      font-weight: 300; }
  body ul.no-bullets, .featherlight-content ul.no-bullets, .reveal ul.no-bullets {
    list-style-type: none;
    padding-left: 0; }
    body ul.no-bullets li.no-bullet, .featherlight-content ul.no-bullets li.no-bullet, .reveal ul.no-bullets li.no-bullet {
      padding-left: 0 !important; }
      body ul.no-bullets li.no-bullet::before, .featherlight-content ul.no-bullets li.no-bullet::before, .reveal ul.no-bullets li.no-bullet::before {
        content: '' !important; }
  body ul.hexyon, .featherlight-content ul.hexyon, .reveal ul.hexyon {
    list-style-type: none;
    padding-left: 0px; }
    body ul.hexyon li::before, .featherlight-content ul.hexyon li::before, .reveal ul.hexyon li::before {
      content: '';
      display: block;
      float: left;
      width: 17px;
      height: 17px;
      margin-right: 15px;
      background: url("img/bulletpoint.png") no-repeat center; }
  body ul.inline-menu, .featherlight-content ul.inline-menu, .reveal ul.inline-menu {
    list-style-type: none; }
    body ul.inline-menu li, .featherlight-content ul.inline-menu li, .reveal ul.inline-menu li {
      display: inline-block; }

.BC-playlistOverlay {
  position: fixed;
  min-width: 800px;
  max-width: 100%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: none; }

/*********************************************
**********************************************
 			00_INTRODUCTION
*********************************************
*********************************************/
.slide-background.accueil {
  background-position: center bottom 106px;
  background-color: #f3e5d4 !important; }

#intro-0-0-0 .reveal .slide-menu-button:before {
  color: #6d6f71 !important; }

#intro-0-0-0 div.macaron {
  width: 132px;
  height: 132px;
  position: absolute;
  bottom: 100px;
  left: 0px; }
  #intro-0-0-0 div.macaron img {
    width: 100%;
    height: auto; }

#intro-0-0-0 .footer {
  background: #aecc57;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #00a8c1 0%, #aecc57 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #00a8c1 0%, #aecc57 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #00a8c1 0%, #aecc57 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  position: absolute;
  opacity: 1;
  left: 0;
  padding: 10px 20px;
  bottom: 0px !important;
  position: absolute;
  box-sizing: border-box; }
  #intro-0-0-0 .footer .columns {
    width: 100%;
    position: relative;
    display: table; }
    #intro-0-0-0 .footer .columns .cell {
      width: 65%;
      display: table-cell;
      padding: 0 10px; }
    #intro-0-0-0 .footer .columns .cell:first-child {
      width: 22%;
      padding-left: 0; }
    #intro-0-0-0 .footer .columns .cell:last-child {
      width: 120px;
      padding-right: 0; }
  #intro-0-0-0 .footer .cell {
    vertical-align: middle; }
    #intro-0-0-0 .footer .cell:last-child {
      max-width: 120px; }
  #intro-0-0-0 .footer img {
    width: 100%;
    height: auto; }
  #intro-0-0-0 .footer p {
    font-size: .65rem;
    color: #ffffff;
    text-align: left; }

/*********************************************
**********************************************
 			01_HEXYON3MOTS
*********************************************
*********************************************/
.slide-background.hexyon,
.slide-background.conclusion {
  background-position: center bottom 106px;
  background-color: #eef7fc !important; }

#hexyon-1-0-0 .content .column,
#conclusion-7-0-0 .content .column {
  top: 70px; }
  #hexyon-1-0-0 .content .column div.col-left,
  #conclusion-7-0-0 .content .column div.col-left {
    width: 345px;
    border: 0 transparent solid;
    border-width: 0 10px 0 0;
    background-clip: padding-box;
    display: table-cell;
    vertical-align: middle; }
  #hexyon-1-0-0 .content .column div.col-right,
  #conclusion-7-0-0 .content .column div.col-right {
    width: calc($table-width - $col-width - $gutter);
    display: table-cell;
    vertical-align: middle; }
  #hexyon-1-0-0 .content .column div.col-left,
  #conclusion-7-0-0 .content .column div.col-left {
    vertical-align: top; }
  #hexyon-1-0-0 .content .column div.col-right,
  #conclusion-7-0-0 .content .column div.col-right {
    text-align: right;
    width: 100%;
    vertical-align: top; }
    #hexyon-1-0-0 .content .column div.col-right a,
    #conclusion-7-0-0 .content .column div.col-right a {
      display: block;
      text-decoration: none; }
      #hexyon-1-0-0 .content .column div.col-right a#h3m-b1,
      #conclusion-7-0-0 .content .column div.col-right a#h3m-b1 {
        background-size: 210px 210px;
        width: 210px;
        height: 210px;
        top: -30px;
        left: 370px;
        padding: 75px 15px; }
      #hexyon-1-0-0 .content .column div.col-right a#h3m-b2,
      #conclusion-7-0-0 .content .column div.col-right a#h3m-b2 {
        background-size: 165px 165px;
        width: 165px;
        height: 165px;
        top: 100px;
        right: 150px;
        padding: 50px 10px; }
      #hexyon-1-0-0 .content .column div.col-right a#h3m-b3,
      #conclusion-7-0-0 .content .column div.col-right a#h3m-b3 {
        background-size: 190px 190px;
        width: 190px;
        height: 190px;
        top: -10px;
        right: -30px;
        padding: 50px 10px; }
    #hexyon-1-0-0 .content .column div.col-right img,
    #conclusion-7-0-0 .content .column div.col-right img {
      position: relative;
      top: 280px;
      right: -80px; }

/*********************************************
**********************************************
 			02_IMMUNINOGENICITE
*********************************************
*********************************************/
#immunogenicite-2-0-0 .content {
  top: 50px; }
  #immunogenicite-2-0-0 .content h2 {
    margin-bottom: 0; }
  #immunogenicite-2-0-0 .content .column div.col-left {
    width: 600px;
    border: 0 transparent solid;
    border-width: 0 0px 0 0;
    background-clip: padding-box;
    display: table-cell;
    vertical-align: middle; }
  #immunogenicite-2-0-0 .content .column div.col-right {
    width: calc($table-width - $col-width - $gutter);
    display: table-cell;
    vertical-align: middle; }
  #immunogenicite-2-0-0 .content .column div.col-left {
    vertical-align: top; }

.featherlight-content #donneesToleranceEtude h3 {
  text-transform: initial !important; }

/*********************************************
**********************************************
 			03_TOLERANCE
*********************************************
*********************************************/
.slide-background.international {
  background-position: center; }

#tolerance-3-0-0 .content .whiteBubble {
  width: 300px;
  height: 300px;
  right: 0;
  top: 100px;
  padding: 60px 15px; }
  #tolerance-3-0-0 .content .whiteBubble p span:nth-child(3) {
    font-size: 2.5625rem;
    line-height: 3.5rem; }

#tolerance-3-1-0 .content {
  top: 50px; }
  #tolerance-3-1-0 .content h2 {
    font-size: 1.25rem;
    margin-bottom: 0; }
  #tolerance-3-1-0 .content p.legend {
    padding: 10px 25px; }

#tolerance-3-2-0 .content .column {
  height: 250px; }
  #tolerance-3-2-0 .content .column div.col-left {
    width: 450px;
    border: 0 transparent solid;
    border-width: 0 10px 0 0;
    background-clip: padding-box;
    display: table-cell;
    vertical-align: middle; }
  #tolerance-3-2-0 .content .column div.col-right {
    width: calc($table-width - $col-width - $gutter);
    display: table-cell;
    vertical-align: middle; }
  #tolerance-3-2-0 .content .column .whiteRadiusBox {
    width: 400px;
    height: 200px;
    right: 0;
    top: 100px;
    padding: 30px 20px; }
    #tolerance-3-2-0 .content .column .whiteRadiusBox p {
      color: #00a8c1;
      font-size: 1.6875rem;
      text-align: center; }
      #tolerance-3-2-0 .content .column .whiteRadiusBox p span:nth-child(3) {
        font-size: 2.5625rem;
        line-height: 3.5rem; }

#tolerance-3-3-0 .content h2 {
  margin: 20px 0; }

#tolerance-3-3-0 .content h3 {
  margin-top: 30px; }

/*********************************************
**********************************************
 			04_SERENITE
*********************************************
*********************************************/
#serenite-4-0-0 .content {
  text-align: left; }
  #serenite-4-0-0 .content .whiteBubble {
    width: 190px;
    height: 190px;
    left: 335px;
    bottom: 175px;
    padding: 40px 15px; }
    #serenite-4-0-0 .content .whiteBubble p {
      font-size: 1.0625rem; }
      #serenite-4-0-0 .content .whiteBubble p span {
        font-size: 1.25rem;
        line-height: 1.5rem; }
  #serenite-4-0-0 .content ul.hexyon {
    position: absolute;
    right: 0;
    bottom: 200px; }

#serenite-4-1-0 .content {
  text-align: left; }
  #serenite-4-1-0 .content .column div.col-left {
    width: 450px;
    border: 0 transparent solid;
    border-width: 0 10px 0 0;
    background-clip: padding-box;
    display: table-cell;
    vertical-align: middle; }
  #serenite-4-1-0 .content .column div.col-right {
    width: calc($table-width - $col-width - $gutter);
    display: table-cell;
    vertical-align: middle; }
  #serenite-4-1-0 .content .column .whiteRadiusBox {
    width: 400px;
    height: 250px;
    padding: 50px 30px 50px 30px; }
  #serenite-4-1-0 .content .column h3 {
    font-size: 1.375rem; }
    #serenite-4-1-0 .content .column h3 sup {
      font-size: .8rem;
      top: -8px; }
  #serenite-4-1-0 .content .column p {
    font-size: 1.125rem; }
    #serenite-4-1-0 .content .column p.arrow:before {
      content: '';
      display: block;
      float: left;
      width: 81px;
      height: 83px;
      margin-right: 15px;
      background: url("img/arrow.png") no-repeat center; }
    #serenite-4-1-0 .content .column p i {
      margin-right: 7px; }

/*********************************************
**********************************************
 			05_EN PRATIQUE
*********************************************
*********************************************/
#enpratique-5-0-0 .content {
  text-align: left; }
  #enpratique-5-0-0 .content .column {
    height: inherit; }
    #enpratique-5-0-0 .content .column div.col-left {
      width: 720px;
      border: 0 transparent solid;
      border-width: 0 10px 0 0;
      background-clip: padding-box;
      display: table-cell;
      vertical-align: middle; }
    #enpratique-5-0-0 .content .column div.col-right {
      width: calc($table-width - $col-width - $gutter);
      display: table-cell;
      vertical-align: middle; }
    #enpratique-5-0-0 .content .column div.col-left, #enpratique-5-0-0 .content .column div.col-right {
      vertical-align: top; }
  #enpratique-5-0-0 .content h3 sup {
    font-size: .8rem;
    top: -8px; }

/*********************************************
**********************************************
 			05_EN PRATIQUE
*********************************************
*********************************************/
#administration-6-0-0 .content {
  text-align: left; }
  #administration-6-0-0 .content .column {
    height: 200px; }
    #administration-6-0-0 .content .column div.col-left {
      width: 450px;
      border: 0 transparent solid;
      border-width: 0 10px 0 0;
      background-clip: padding-box;
      display: table-cell;
      vertical-align: middle; }
    #administration-6-0-0 .content .column div.col-right {
      width: calc($table-width - $col-width - $gutter);
      display: table-cell;
      vertical-align: middle; }
    #administration-6-0-0 .content .column .whiteRadiusBox {
      width: 400px;
      height: 180px;
      padding: 50px 30px 50px 30px; }
  #administration-6-0-0 .content h3 sup {
    font-size: .8rem;
    top: -8px; }

#utilisation .column {
  height: 50px; }
  #utilisation .column div.col-left {
    width: 520px;
    border: 0 transparent solid;
    border-width: 0 10px 0 0;
    background-clip: padding-box;
    display: table-cell;
    vertical-align: middle; }
  #utilisation .column div.col-right {
    width: calc($table-width - $col-width - $gutter);
    display: table-cell;
    vertical-align: middle; }
  #utilisation .column div.col-left, #utilisation .column div.col-right {
    vertical-align: top; }

#utilisation img {
  max-width: 892px;
  max-height: 139px; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
/* Desktop */
/* Tablet */
/* Mobile */
@media screen and (max-height: 800px) {
  .content {
    top: 0px !important; } }

/** 
 * iPad with portrait orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  html .footer {
    height: 135px !important; }
  html .slide-background.hexyon, html .slide-background.conclusion {
    background-position: center bottom 135px !important; }
  html .reveal .slide-background {
    width: 100% !important; } }

/** 
 * iPad with landscape orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
  html .footer {
    height: 125px !important; }
  html .slide-background.hexyon, html .slide-background.conclusion {
    background-position: center bottom 125px !important; }
  html .reveal .slide-background {
    width: 100% !important; } }

/** 
 * iPhone6 with landscape orientation.
 */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
  html .footer {
    height: 160px !important; }
  html .backgrounds .present {
    background-size: 100% auto !important; }
  html .slide-background.hexyon, html .slide-background.conclusion {
    background-position: center bottom 160px !important; } }

/** 
 * iPhone6 with landscape orientation.
 */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  html .footer {
    height: 280px !important; }
  html .backgrounds .present {
    background-size: 100% auto !important; }
  html .slide-background.hexyon, html .slide-background.conclusion {
    background-position: center bottom 280px !important; } }

html.ie .reveal .progress {
  left: -125px !important; }

html.ie .reveal a.greyBtn, html.ie .reveal button.greyBtn {
  background-position: right 10px center; }

/*********************************************
**********************************************
 			    FRE-FR
*********************************************
*********************************************/
