/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Desktop */
@media screen and (min-width: 1024px) {
}

@media screen and (max-width: 1024px) {
}

/* Tablet */
@media screen  and (max-width: 979px){
  
}

/* Mobile */
@media screen and (max-width: 640px){

}

@media screen and (max-height: 800px) {
	.content{
		top: 0px !important;
	}
}

/** 
 * iPad with portrait orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
  html{
  	.footer{
  		height: 135px !important;
  	}
  	.slide-background.hexyon, .slide-background.conclusion{
  		background-position: center bottom 135px !important;
  	}
  	.reveal .slide-background{
		width: 100% !important;
  	}
  }
}

/** 
 * iPad with landscape orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
  html{
  	.footer{
  		height: 125px !important;
  	}
  	.slide-background.hexyon, .slide-background.conclusion{
  		background-position: center bottom 125px !important;
  	}
  	.reveal .slide-background{
		width: 100% !important;
  	}
  }
}

/** 
 * iPhone6 with landscape orientation.
 */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) {
	html{
	  	.footer{
	  		height: 160px !important;
	  	}
	  	.backgrounds{
	  		.present{
				background-size: 100% auto !important;
	  		}
	  	}
	  	.slide-background.hexyon, .slide-background.conclusion{
	  		background-position: center bottom 160px !important;
	  	}
	  }
}

/** 
 * iPhone6 with landscape orientation.
 */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) {
	html{
	  	.footer{
	  		height: 280px !important;
	  	}
	  	.backgrounds{
	  		.present{
				background-size: 100% auto !important;
	  		}
	  	}
	  	.slide-background.hexyon, .slide-background.conclusion{
	  		background-position: center bottom 280px !important;
	  	}
	  }
}