/* ==========================================================================
   PLAYER SKIN : BUBBLES
   ========================================================================== */
@import "font-awesome/font-awesome";

.reveal{
	font-family: 'Nunito', sans-serif;
	font-weight: lighter;
}

.reveal .slide-background{
	background-position: top right;
	background-size: contain;
	background-color: #ffffff;
}
.reveal.center .slides,
.reveal.center .slides section{
	min-height: 100% !important;
	min-width: 100% !important;
}
.reveal.center .slides section{
	padding: 0;
}
.reveal .slide-menu-button{
	height: 30px;
	top: 35px !important;
	i.fa-bars{
		font-size: 2rem;
		&:before{
			color: #ffffff !important;
		}
	}
}
.reveal li#close{
	z-index:9999;
	cursor:pointer;
	i.fa{
		color: #fff;
	}
}
.reveal nav.slide-menu {
	background: #31969e;/* Old browsers */
	background: -moz-linear-gradient(-90deg,  #4396a0 0%, #327f8a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-90deg,  #4396a0 0%,#327f8a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #4396a0 0%,#327f8a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	background-size: 100%;
	width: 250px;
	position: absolute;
	opacity: 0.9;
}
.reveal .slide-menu-overlay.active{
	display: none;
}
.reveal ul.underSection{
	text-align: center;
	margin: 10px 0px 15px;
}
.reveal ul.underSection>li{
	display: inline-block;
	margin: 0px 5px;
}
.reveal a{
	color: #2B4754;
}

.reveal .slide-menu-button{
	left: 10px;
	top: 10px;
	bottom: 60px !important;
}

.reveal ol.slide-menu-toolbar{
	display:none !important;
}
.reveal li#close{
	color: #fff;
	list-style-type: none;
	font-size: 30px;
	font-weight: lighter;
	position: absolute;
	top: 10px;
	left: 10px;
}
.reveal .slide-menu-items{
	margin-top: 100px !important;
}
.reveal .slide-menu-items,
.reveal .slide-menu-item{
	border: none !important;
	padding-left: 0 !important;
	margin-bottom: 0 !important;
}
.reveal .active-menu-panel li{
	background-color: transparent;
	height: 65px;
	width: 100%;
	text-align: left;
	border-bottom: 1px solid rgba(#000000, 0.3) !important;
	border-top: 1px solid rgba(#ffffff, 0.3) !important;
	padding: 20px 30px !important;
	color: #ffffff !important;
	box-sizing: border-box;
	font-size: 1rem;
	font-family:"Futura BT W01 Medium";
}
.reveal .active-menu-panel li.selected{
	background-color: rgba(#004a56, 0.6) !important;
	color: #ffffff !important;

}
.reveal .slide-menu-item, .reveal .slide-menu-item-vertical{
	padding: 7px 17px 7px 12px !important;
}

	/* CONTROLS */
	.reveal .controls{
		background: rgba(#ffffff, .7); /* Old browsers */
		background: -moz-linear-gradient(left,  rgba(#ffffff, .85) 0%, rgba(#ffffff, .5) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  rgba(#ffffff, .85) 0%, rgba(#ffffff, .5) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, rgba(#ffffff, .85) 0%, rgba(#ffffff, .5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(#ffffff, .85)', endColorstr='rgba(#ffffff, .5)',GradientType=1 ); /* IE6-9 */
		width: 330px;
		height: 45px;
		bottom: 120px;
		right: inherit;
		margin-left: calc(50vw) !important;
	  -moz-transform:    translateX(-50%);
	  -o-transform:      translateX(-50%);
	  -webkit-transform: translateX(-50%);
	  -ms-transform:     translateX(-50%);
	  transform:         translateX(-50%);
	  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=0, M21=0, M22=1, SizingMethod='auto expand')";
	}
	.reveal .controls button{
		//opacity: .3;
	}
	.reveal .controls .navigate-up,
	.reveal .controls .navigate-down{
		display: none;
	}
	.reveal .controls .navigate-left,
	.reveal .controls .navigate-right{
		width: 45px;
		height: 45px;
		background-color: #ffffff; 
		border-radius: 7px;
		top: 0;
		border: none;
		z-index: 10;
		opacity: 1;
		i.fa{
			color: #8fb4ba;
		}
	}
	.reveal .controls .navigate-left{
		left: -30px;
		box-shadow: 2px 0px 20px rgba(#8fb4ba, .5);
	}
	.reveal .controls .navigate-right{
		left: 315px;
		box-shadow: -2px 0px 20px rgba(#8fb4ba, .5);
	}
	.reveal .controls .toggle-sound{
		right: 30px;
		border: none;
	}
	.reveal .controls .enabled{
		opacity: 1;
	}

	/* PROGRESS */
	.reveal .progress{
		bottom: 128px;
		width: 250px;
		height: 20px;
		background-color: transparent;
		margin-left: 50%;
		transform: translateX(calc(-50% - 5px));
        z-index: 20;
	}
	.reveal .progress span{
		box-sizing: border-box;
		background: none;
	}
	.reveal a.slideButton{
		display: block;
		width: 12px;
		height: 12px;
		@include border-radius(50%);
		background-color: transparent;
		background: #8fb4ba;
		position: absolute;
		z-index: 9;
		&.active{
			background: #515151;
		}
	}
	.reveal span.slideButtonActive{
		display: block;
		width: 12px;
		height: 12px;
		border-radius: 50%;
		background-color: transparent;
		position: absolute;
		z-index: 10;
		left: 0;
		background: #00acc6;
	}
	.reveal span#mobileProgress{
		position: absolute;
		top:12px;
		left: 120px;	
	}
	.reveal span#mobileProgress>span{
		color: #56ede3;
	}

	/*AUDIO*/
	.reveal .audio-controls{
		visibility: hidden !important; 
	}