/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Desktop */
@media screen and (min-width: 1024px) {
  	.slide-background.accueil{
		background-position: center;
	}
}

@media screen and (max-width: 1024px) {
  	.slide-background.accueil{
		background-position: right;
	}
}

/* Tablet */
@media screen  and (max-width: 979px){
  
}

/* Mobile */
@media screen and (max-width: 640px){

}