@mixin row() {
  font-size: 0;
}
@mixin col($col, $sum, $gap: 1em, $align: top, $first: false, $last: false) {
  width: calc(100% / #{$sum} - 1%);
  font-size: 1rem;
  display: inline-block;
  box-sizing: border-box;
  padding-left: if($first, 0, $gap);
  padding-right: if($last, 0, $gap);
  vertical-align: $align;
}

@mixin threecols($first, $middle, $last, $gutter){
	.columns{
		width: 100%;
		position: relative;
		display: table;
		.cell{
			width: $middle;
			display: table-cell;
			padding: 0 $gutter;
		}
		.cell:first-child{
			width: $first;
			padding-left: 0;
		}
		.cell:last-child{
			width: $last;
			padding-right: 0;
		}
	}

}

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}

@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin column($table-width, $col-width, $gutter){
	div.col-left{
		width: $col-width;
		border:0 transparent solid;
		border-width: 0 $gutter 0 0;
		background-clip:padding-box;
		display: table-cell;
		vertical-align: middle;
	}
	div.col-right{
		width: calc($table-width - $col-width - $gutter);
		display: table-cell;
		vertical-align: middle;
	}
	
}

@mixin gradient-bckgrd($background-left-color, $background-right-color, $opacity: 1){
	background: $background-right-color; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  $background-left-color 0%, $background-right-color 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  $background-left-color 0%,$background-right-color 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  $background-left-color 0%,$background-right-color 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	position: absolute;
	opacity: $opacity;
	left: 0;
}