/*********************************************
**********************************************
 			00_INTRODUCTION
*********************************************
*********************************************/
.slide-background.accueil{
	background-position: center;
	background-size: 100% 100% !important;
	background-color: #f3e5d4 !important;
}
#intro-0-0-0{
	.reveal .slide-menu-button{
		&:before{
			color: $dark-grey !important;
		}
	}
	div.macaron{
		width: 132px;
		height: 132px;
		position: absolute;
		bottom:100px;
		left: 0px;
		img{
			width: 100%;
			height: auto;
		}
	}
	.footer{
		@include threecols(22%, 65%, 120px, 10px);
		@include gradient-bckgrd($blue, $green);
		padding: 10px 20px;
		bottom: 0px;
		position: absolute;
		box-sizing: border-box;
		.cell{
			vertical-align: middle;
			&:last-child{
				max-width: 120px;
			}
		}
		img{
			width: 100%;
			height: auto;
		}

		p{
			font-size: .65rem;
			color: $white;
			text-align: left;
		}
	}
}


/*********************************************
**********************************************
 			01_HEXYON3MOTS
*********************************************
*********************************************/
.slide-background.hexyon,
.slide-background.conclusion{
	background-position: center bottom 106px; 
	background-size: 1024px 768px !important;
	background-color: #ffffff !important;
}

#hexyon-1-0-0,
#conclusion-7-0-0{

	.content{
		.column{
			@include column(1024px, 345px, 10px);
			div.col-left{
				vertical-align: top;
			}
			div.col-right{
				text-align: right;
				width: 100%;
				vertical-align: top;
				a{
					display: block;
					text-decoration: none;
					&#h3m-b1{
						background-size: 210px 210px;
						width: 210px;
						height: 210px;
						top: -30px;
						left: 370px;
						padding: 75px 15px;
					}
					&#h3m-b2{
						background-size: 165px 165px;
						width: 165px;
						height: 165px;
						top: 100px;
						right: 150px;
						padding: 50px 10px;
					}
					&#h3m-b3{
						background-size: 190px 190px;
						width: 190px;
						height: 190px;
						top: -10px;
						right: -30px;
						padding: 50px 10px;
					}
				}
				
				img{
					position: relative;
					top:250px;
					right: -30px;
				}
			}
		}
		
	}
	
}

/*********************************************
**********************************************
 			02_IMMUNINOGENICITE
*********************************************
*********************************************/

#immunogenicite-2-0-0{
	.content{
		top: 50px;
		h2{
			margin-bottom: 0;
		}
		.column{
			@include column(1024px, 600px, 0px);
			div.col-left{
				vertical-align: top;
			}
		}
		
	}
	
}

/*********************************************
**********************************************
 			03_TOLERANCE
*********************************************
*********************************************/
.slide-background.international{
	background-position: center;
	background-size: 1024px 768px !important;
}
#tolerance-3-0-0{
	.content{
		.whiteBubble{
            width: 300px;
            height: 300px;
        	right: 0;
        	top: 100px;

        	padding: 60px 15px;
            p{
                span:nth-child(3){
                    font-size: 2.5625rem;
                    line-height: 3.5rem;
                }
            }
        }
	}
	
}

#tolerance-3-1-0{
	.content{
		top: 50px;
		h2{
			font-size: 1.25rem;
			margin-bottom: 0;
		}
		p.legend{
			padding: 10px 25px;
		}
	}	
}

#tolerance-3-2-0{
	.content{
		.column{
			@include column(1024px, 450px, 10px);
			height: 250px;
			.whiteRadiusBox{
		        width: 400px;
		        height: 200px;
		    	right: 0;
		    	top: 100px;
		    	padding: 30px 20px;
		        p{
		            color: $blue;
		            font-size: 1.6875rem;
		            text-align: center;
		            span:nth-child(3){
		                font-size: 2.5625rem;
		                line-height: 3.5rem;
		            }
		        }
		    }
		}
	}
}

#tolerance-3-3-0{
	.content{
		h2{
			margin: 20px 0;
		}
		h3{
			margin-top: 30px;
		}
	}
}

/*********************************************
**********************************************
 			04_SERENITE
*********************************************
*********************************************/

#serenite-4-0-0{
	.content{
		text-align: left;
		.whiteBubble{
            width: 190px;
            height: 190px;
        	left: 335px;
        	bottom: 175px;
        	padding: 40px 15px;
            p{	
            	font-size: 1.0625rem;
                span{
                    font-size: 1.25rem;
                    line-height: 1.5rem;
                }
            }
        }
        ul.hexyon{
        	position: absolute;
        	right: 0;
        	bottom:200px;
        }
	}
	
}

#serenite-4-1-0{
	.content{
		text-align: left;
		.column{
			
			@include column(1024px, 450px, 10px);
			.whiteRadiusBox{
		        width: 400px;
		        height: 250px;
		    	padding: 50px 30px 50px 30px;
		    }
		    h3{
		    	font-size: 1.375rem;
		    	sup{
		    		font-size: .8rem;
		    		top: -8px;
		    	}
		    }
	        p{
	        	font-size: 1.125rem;
	        	&.arrow:before{
		        	content: '';
		            display: block;
		            float: left;
		            width: 81px;
		            height: 83px;
		            margin-right: 15px;
		            background: url('img/arrow.png') no-repeat center;
		        }
		        i{
		        	margin-right: 7px;
		        }
	        }
		}
		
	}
	
}

/*********************************************
**********************************************
 			05_EN PRATIQUE
*********************************************
*********************************************/

#enpratique-5-0-0{
	.content{
		text-align: left;
		.column{
			@include column(1024px, 720px, 10px);
			height: inherit;
			div.col-left, div.col-right{
				vertical-align: top;
			}
		}
		h3{
			sup{
				font-size: .8rem;
				top: -8px;
			}
		}
		
	}
}

/*********************************************
**********************************************
 			05_EN PRATIQUE
*********************************************
*********************************************/

#administration-6-0-0{
	.content{
		text-align: left;
		.column{
			height: 200px;
			@include column(1024px, 450px, 10px);
			.whiteRadiusBox{
		        width: 400px;
		        height: 180px;
		    	padding: 50px 30px 50px 30px;
		    }
		}
		
		h3{
			sup{
				font-size: .8rem;
				top: -8px;
			}
		}
	}
}

#utilisation{
	.column{
		@include column(1024px, 520px, 10px);
		height: 50px;
		div.col-left, div.col-right{
			vertical-align: top;
		}
	}
	img{
		max-width: 892px;
		max-height: 139px;
	}
}


