/* ==========================================================================
   UTILITIES
   ========================================================================== */

body, .reveal{

    /** MARGINS **/
    $i: 0;
    @while $i < 90 {
        /** MARGINS **/
      .mt#{$i} { margin-top: $i * 1px !important;}
      .mb#{$i} { margin-bottom: $i * 1px !important;}
      .ml#{$i} { margin-left: $i * 1px !important;}
      .mr#{$i} { margin-right: $i * 1px !important;}

        /** PADDINGS **/
      .pt#{$i} { padding-top: $i * 1px !important;}
      .pb#{$i} { padding-bottom: $i * 1px !important;}
      .pl#{$i} { padding-left: $i * 1px !important;}
      .pr#{$i} { padding-right: $i * 1px !important;}

      $i: $i + 10;
    }

    .responsive{
        width: 100%;
        height: auto;
    }
    .absolute-content{
        position: absolute;
        display: block;
    }
    .valign-middle-content{
        margin-top: 50vh !important;
        -moz-transform:    translateY(-50%);
        -o-transform:      translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform:     translateY(-50%);
        transform:         translateY(-50%);
        -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=0, M21=0, M22=1, SizingMethod='auto expand')";
    }
    .halign-middle-content{
        margin-left: 50% !important;
        -moz-transform:    translateX(-50%);
        -o-transform:      translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform:     translateX(-50%);
        transform:         translateX(-50%);
        -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=0, M21=0, M22=1, SizingMethod='auto expand')";
    }
    .index-position-2{
        z-index: -2 !important;
    }
    .index-position-3{
        z-index: -3 !important;
    }
}

/* ==========================================================================
   GENERAL STYLES
   ========================================================================== */

html{
    body.mobile{
        .playButton{
            display: block;
        }
        .toggle-sound{
            display: none;
        }
    }
    .playButton{
        display: none;
        position:fixed; 
        height:100vh; 
        width:100vw; 
        //display:block; 
        background-color:rgba($dark-blue, 0.8); 
        z-index:999;
        .tableCell{
            display:table-cell;
            height:98vh; 
            width:100vw; 
            color:#ffffff; 
            vertical-align:middle; 
            text-align:center;
            .circle-bg-frame{
                width:160px; 
                height:160px;
                top:inherit;
                -moz-transform:inherit;
                -o-transform:inherit;
                -webkit-transform:inherit;
                -ms-transform: inherit;
                transform: inherit;
                display: inline-block;
                border-top-color:#37d3ce;
                .fa-play{
                    font-size:90px;
                    line-height: 160px;
                    padding-left: 25px;
                    color: #ffffff;
                }
                 &:hover, &:focus{
                    -moz-transform:    scale(1.1);
                    -o-transform:      scale(1.1);
                    -webkit-transform: scale(1.1);
                    -ms-transform:     scale(1.1);
                    transform:         scale(1.1);
                    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.1, M12=0, M21=0, M22=1.1, SizingMethod='auto expand')";
                }
            }
            .fa-spin{
                font-size:50px;
                visibility: hidden;
                position: absolute;
                top:0;
            }
            
        }
        &.loading{
            .fa-spin{
                visibility: visible;
                position: relative;
            }
        }
    }
    .reveal, body{
        font-family:"Futura BT W01 Book", Arial, sans-serif;
        .backgrounds .slide-background{
            background-size: cover;
            background-color: #eef7fb;
        }
        #mobileProgress{
            display: none; 
        }
        .slides{
            z-index: 0;
        }
        .backgrounds{
            z-index: -3;
        }
    }

    .scalableContainer{
        position: relative;
        width: 100%;
        height: 100vh; 
    }
    .contentSection{
        position: absolute;
        box-sizing: border-box;
        padding: 45px 80px !important;
        width: 1024px;
        height: 680px;
        left: 50%;
        top: 50%;
        .mainContent{
            width: 100%;
            height: 100%;
        }
    }
    .header{
        height: 100px;
        width: 100%;
        position: relative;
        @include gradient-bckgrd($blue, $green);
        box-sizing: border-box;
        display: table;
        h1{
            display: table-cell;
            vertical-align: middle;
        }
    }
    .content{
        position: relative;
        top: 70px;
        height: 100%;
        .bubble{
            background: url('img/hexyon-bulle.png') transparent no-repeat;
            position: absolute;
            box-sizing: border-box;
            z-index: 10;
            p{
                color: $white;
                font-size: 1.125rem;
                text-shadow: 0px 1px 2px rgba(0, 0, 0, .4);
                text-align: center;
                strong{
                    font-family:"Futura BT W01 Bold";
                    font-size: 1.3rem;
                }
                i.fa{
                    font-size: 2rem;
                    &:last-child{
                        margin-left: -9px;
                    }
                }
            }
        }
        .whiteBubble{
            background-color: $white;
            position: absolute;
            box-sizing: border-box;
            z-index: 10;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
            -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
            box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
            p{
                color: $blue;
                font-size: 1.6875rem;
                text-align: center;
            }
        }
        .whiteRadiusBox{
            background-color: $white;
            box-sizing: border-box;
            z-index: 10;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            border-radius: 25px;
            -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
            -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
            box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
        }
        .column{
            height: calc(100% - 200px);
            display: table;
        }
    }
    .scaleContent{
        width: 1024px !important;
        height: 100px;
        position: absolute;
        bottom:0;
        left: 50%;
    }
    .footer{
        @include column(1024px, 950px, 0px);
        width: 100%;
        height: 105px;
        background-color: rgba($white, 0.8);
        padding: 10px 20px;
        bottom: 0px;
        position: absolute;
        box-sizing: border-box;
        text-align: center;
        .column, .columns{
            margin-bottom: 10px;
            position: relative;
            width: 100%;
            display: table;
            div.col-left{
                text-align: left;
            }
            div.col-right{
                text-align: right;
            }
        }
        
        p{
            font-size: .65rem;
            color: $dark-grey;
            text-align: center;
        }
        .references{
            //width: 100%;
            position: absolute;
            background-color: $blue;
            padding: 10px;
            bottom: 60px;
            box-sizing: border-box;
            &::after{
                content: "";
               position: absolute;
               top: 100%;
               left: 30px;
               border-top: 15px solid $blue;
               border-top-color: $blue; 
               border-left: 15px solid transparent;
               border-right: 15px solid transparent; 
               z-index: 40;

            }
            ul{
                li{
                    color: $white;
                    line-height: 0.8rem;
                    font-size: .625rem;
                    margin-bottom: 3px;
                }
            }
        }
    }
    .feather{
        display: none;
    }
    .featherlight{
        .featherlight-content{
            padding: 30px;
            -webkit-border-radius: 13px;
            -moz-border-radius: 13px;
            border-radius: 13px;
            overflow: none !important;
            .scroll{
                max-height: 600px;
                overflow-y: scroll; 
            }
            h2{
                font-family:"Futura BT W01 Bold";
                text-align: left;
                text-transform: uppercase;
                font-size: 1.5rem;
                margin-bottom: 25px;
            }
            span.featherlight-close-icon{
                background: url('img/popin_close.png') no-repeat;
                background-position: center top;
                display: block;
                height: 52px;
                width: 52px;
            }
            p, li{
                font-size: 1.125rem;
                &.legend{
                    font-size: 0.75rem;
                    sup{
                        font-size: .6rem;
                        top: -4px;
                    }
                }
                sup{
                    font-size: .8rem;
                    top: -6px;
                }
            }
        }
    }
}

/* ==========================================================================
   FONTS STYLES
   ========================================================================== */

body, .featherlight-content, .reveal{

    /* COLORS */
    .white{
        color: $white !important;
    }
    .blue{
      color: $blue !important;
    }
    .grey{
        color: $dark-grey !important;
    }
    .dark-blue{
        color: $dark-blue !important;
    }

    /* POSITIONS */
    .text-left{
        text-align: left;
    }
    .text-center{
        text-align: center !important;
    }
    .text-right{
        text-align: right;
    }
    .uppercase{
        text-transform: uppercase;
    }

    /* TITLES */
    h1{
        font-family:"Futura BT W01 Bold", Arial, sans-serif;
        text-align: center;
        text-transform: uppercase;
        color: $white;
        font-size: 2.06rem;
        line-height: 2.5rem;
        letter-spacing: 1px;
        sup{
            font-size: 1rem;
            top: -20px;
        }
    }

    h2{
        font-family:"Futura BT W01 Medium";
        color: $blue;
        text-align: center;
        line-height: 1.9rem;
        font-size: 1.75rem;
        margin-bottom: 10px;
        sup{
            font-size: 1rem;
            top: -10px;
        }
    }

    h3{
        font-family:"Futura BT W01 Medium";
        color: $blue;
        //text-transform: uppercase;
        text-align: left;
        line-height: 1.4rem;
        font-size: 1.125rem;
        margin-bottom: 10px;
    }

    h4{
        text-transform: capitalize;
        font-weight: lighter;
        font-size: 1.3rem;
        text-align: left;
        width: 100%;
        margin-bottom: 10px;
    }
    h5{
        text-align: left;
        font-weight: 400;
        margin-bottom: 10px;
    }
    h6{
        text-align: left;
        font-weight: 400;
        margin-bottom: 0px;
        font-size: .9rem;
        margin-top: 15px;
    }

    p{
        color: $dark-blue;
        text-align: left;
        font-size: .9rem;
        line-height: 1.4em;
        margin-bottom: 5px;
        font-weight: 300;
        &.big{
            font-size: 1.375rem;
        }
        &.imageTitle{
            font-family:"Futura BT W01 Medium";
            font-size: 0.875rem;
            text-align: center;
        }
        &.legend{
            font-size: 0.75rem;
        }
        sup{
            font-size: .8rem;
            top: -10px;
        }
    }
   
    

    /* LIST STYLES */
    ul{
        padding-left:30px; 
        li{
            color: $dark-blue;
            text-align: left;
            font-size: .9rem;
            line-height: 1.4em;
            margin-bottom: 5px;
            font-weight: 300;
        }
    }

    ul.no-bullets{
        list-style-type:none;
        padding-left: 0;
        li.no-bullet{
            padding-left:0 !important;
            &::before{
                content: '' !important;
            }
        }
    }
    ul.hexyon{
        list-style-type:none;
        padding-left: 0px;
        li{
            &::before{
                content: '';
                display: block;
                float: left;
                width: 17px;
                height: 17px;
                margin-right: 15px;
                background: url('img/bulletpoint.png') no-repeat center;
            }
        }
    }
    ul.inline-menu{
        list-style-type:none;
        li{
            display: inline-block;
        }
    }
}